@media screen and (max-width:585px) {
  

html {
  height: 100%;
  width: 100%;
}
@font-face
{
  font-family: "tangerine";
  src: local("Tangerine-Bold"), url("fonts/Tangerine-Bold.ttf")
  format("truetype")
}
body
{
  background-color: #292f49;
}
*
{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#faixaback
{
  margin: 0 auto;
  height: 100%;
  width: 400px;
  background-color: #1d203a;
  color: white;
  padding: 10px;
  overflow: hidden;
  box-shadow:  5px 20px 10px black;
}
#capa
{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #9499a4;
  margin: 0 auto;
  height: 200px;
  width: 100%;
}
h1
{
  color: #FFF;
  font-size: 40pt;
  font-family: tangerine;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 0;
  text-shadow: 2px 2px 3px #2e3255;
}

#fotoperfil
{
border: 1px solid #2f1968;
border-radius: 60%;
position: absolute;
top: 60px;
left: 250px;
width: 120px;
/* box-shadow: 3px 3px 5px black;  */
z-index: 2;

}
#navegacao
{
  border-radius: 20px;
   position: absolute;
   top: 200px; 
   left: 0;
   background-color: #2f1968;
   height: 40px;
   width: 405px;
   display: flex;
   align-items: center; 
   box-shadow: 3px 3px 5px black;
   z-index: 1;
}

a.nav-item{
  display: inline-block;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}
#menu
{
  display: flex;
  flex-wrap: nowrap;
}
#menu li
{
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.5s, text-transform 0.5s;
  background-color: transparent;
  display: inline-block;
  list-style: none;
  font-weight: 600;
  z-index: 4;
  text-transform: none;
}
#menu li:hover
{
  
  background-color: #1d203a;
  text-transform: uppercase;
}
#menu li:first-child
{
  padding-left: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#menu li:last-child
{
  padding-right: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#maincontent
{
  margin-top: 10%;
}
#presentation-text
{
  margin-top: 60px;
}
h2{
  font-family: tangerine;
  font-size: 27pt;
  margin-left: 20px;
  margin-bottom: 20px;
}
#dados-pessoais{
  margin: 30px;
}
#dados-pessoais li{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}
/* li .head-li
{
  color: #2596be;
} */
p
{
  line-height: 1.5em;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px; 
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
#lista-works
{
  margin-left: 60px;
}

#page-footer
{
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  width: 400px;
  background-color: #2f1968;
  box-shadow:  5px 20px 10px black;
}
#footer-content
{
  margin: 0 auto;
}
a.work-list
{
  transition: color 0.5s;
   display: inline-block;
  padding: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
a.work-list:hover
{
    color: #8b6ed4;
}
#voltaraotopo
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 60vh;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: background-color 1s;
  background-color: #2f1968;
  color: white;
  padding: 10px;
  border: 1px groove #bababa;
  box-shadow: 2px 3px 5px black;
}
#voltaraotopo:hover
{
  background-color: #4500f5;
}
#voltaraotopo:active
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: none;
  position: fixed;
  bottom: 4.5vh;
  right: 60vh;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #2f1968;
  color: white;
  padding: 10px;
  border: 1px groove #bababa;
}

.links-footer{
   display: inline-block;
  padding: 11px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s;
  color: white;
  text-decoration: none;
   margin-left: 10px;
}
.links-footer.links-footer:hover
{
  color: #8f9ba8;
}

a.contatos
{
  transition: color 0.5s;
  text-decoration: none;
  color: white;
}
a.contatos:hover
{
   color: #8b6ed4;
}
}

/* Começo do design para computador */

@media screen and (min-width: 586px){
  html {
    height: 100%;
    width: 100%;
  }
@font-face
{
  font-family: "tangerine";
  src: local("Tangerine-Bold"), url("fonts/Tangerine-Bold.ttf")
  format("truetype")
}
body
{
  background-color: #292f49;
}
*
{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#faixaback
{
  margin: 0 auto;
  height: 100%;
  width: 50%;
  background-color: #1d203a;
  color: white;
  padding: 10px;
  overflow: hidden;
  box-shadow:  5px 20px 10px black;
}
#capa
{
  display: flex;
  flex-direction: column-reverse;
  background-color: #9499a4;
  margin: 0 auto;
  height: 200px;
  width: 100%;
}
h1
{
  color: #FFF;
  font-size: 40pt;
  font-family: tangerine;
  position: relative;
  bottom: 20px;
  left: 20px;
  z-index: 0;
  text-shadow: 2px 2px 3px #2e3255;
}
#fotoperfil
{
border: 1px solid #4500f5;;
border-radius: 50%;
position: relative;
top: 45%;
left: 65%;
width: 200px;
 box-shadow: 3px 3px 5px black; 
 z-index: 2;
}
#navegacao
{
   position: absolute;
   top: 200px; 
   left: 25%; 
   background-color: #2f1968;
   height: 40px;
   width: 40%;
   display: flex;
   align-items: center; 
   box-shadow: 3px 3px 5px black;
   z-index: 1;
}

a.nav-item{
  display: inline-block;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
#menu li
{
  transition: background-color 0.5s, text-transform 0.5s;
  background-color: transparent;
  display: inline-block;
  list-style: none;
  font-weight: 600;
  z-index: 4;
  text-transform: none;
}
#menu li:hover
{
  
  background-color: #1d203a;
  text-transform: uppercase;
}
#maincontent
{
  margin-top: 10%;
}

h2{
  color: antiquewhite;
  font-family: tangerine;
  font-size: 27pt;
  margin-left: 20px;
  margin-bottom: 20px;
}
#dados-pessoais{
  margin: 30px;
}
#dados-pessoais li{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}
/* li .head-li
{
  color: antiquewhite;
} */
p
{
  line-height: 1.5em;
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px; 
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
#lista-works
{
  margin-left: 60px;
}

#page-footer
{
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  width: 50%;
  background-color: #2f1968;
  box-shadow:  5px 20px 10px black;
}
#footer-content
{
  margin: 0 auto;
}
a.work-list
{
  transition: color 0.5s;
   display: inline-block;
  padding: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
a.work-list:hover
{
    color: #8b6ed4;
}
#voltaraotopo
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 60vh;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: background-color 1s;
  background-color: #2f1968;
  color: white;
  padding: 10px;
  border: 1px groove #bababa;
  box-shadow: 2px 3px 5px black;
}
#voltaraotopo:hover
{
  background-color: #4500f5;
}
#voltaraotopo:active
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: none;
  position: fixed;
  bottom: 4.5vh;
  right: 60vh;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #2f1968;
  color: white;
  padding: 10px;
  border: 1px groove #bababa;
}

.links-footer{
   display: inline-block;
  padding: 11px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s;
  color: white;
  text-decoration: none;
   margin-left: 10px;
}
.links-footer.links-footer:hover
{
  color: #8f9ba8;
}

a.contatos
{
  transition: color 0.5s;
  text-decoration: none;
  color: white;
}
a.contatos:hover
{
   color: #8b6ed4;
}
}